@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --color-green: #50fa7b;
    --color-violet: #6753a8;
}

* { 
    margin: 0;
    border: 0;
    padding: 0;    
}

body {
    background: black;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 30px;
    text-align: center;
    margin: 30px;
    background: rgb(19, 18, 18);
}

.links a {
    margin: 0 16px;
    color: var(--color-green);
    font-size: 28px;
    line-height: 38px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-violet);
    transition: 600ms;
}

