@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
/*==========PAGE INDEX==============*/
.menu {
    margin: 36.1px 0 36px 231px;
    display: grid;
    grid-template-columns: 213px 164px;
    
}

.menu_links {
    word-spacing: 30px;
}

.menu_links a{
    color: #111111;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.rectangle {
    width: 940px;
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
    margin: 30px 230px 0 230px;
    position: relative;
}

.rectangle_img_chef {
    width: 216px;
    height: 300px;
    position: absolute;
    margin: 66px 100px 0px 624px;
}

.rectangle_title {
    width: 305px;
    height: 38px;
    position: absolute;
    margin: 117px 575px 211px 60px;
    font-weight: bold;
    font-size: 32px;
    color: #111111;
    line-height: 38px;
}

.rectangle_info {
    width: 316px;
    height: 84px;
    position: absolute;
    margin: 165px 564px 117px 60px;
    color: #000000;
    opacity: 0.7;
    font-size: 18px;
    line-height: 28px;
}

.most_accessed {
    width: 174px;
    height: 28px;
    position: relative;
    margin: 50px 996px 20px 230px;
    font-family: 'Roboto-Bold';
    font-weight: bold;
    color: #111111;
    font-size: 21px;
    line-height: 28px;

}

/*==============CARDS=============*/

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 230px;
    gap: 20px;
}

.img_revenue img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.title_revenue p {
    width: 250px;
    height: 21px;
    margin: 20px 0 5px 0 ;
    text-align: left;
    font-size: 18px;
    color: #111111;
    line-height: 21px;
}

.author_revenue p {
    width: 118px;
    height: 16px;
    margin: 0px 0px 30px 0px;
    color: #777777;
    font-size: 14px;
    line-height: 16px;

}

/*================*================*/

.footer {
    width: 1400px;
    height: 62px;
    position: relative;
    margin: 50px 0px 0px 0px;
    background-color: #EEEEEE;
    
}

.footer p {
    width: 300px;
    height: 16px;
    position: absolute;
    margin: 23px 566px 23px 567px;
    font-size: 14px;
    color: #999999;
    line-height: 16px;
    text-align: center;

}

/*=============PAGE ABOUT=============*/

.about_foodfy_title {
    width: 164px;
    height: 28px;
    margin: 50px 0 20px 230px;
    color: #111111;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.about_foodfy_info {
    width: 940px;
    height: 280px;
    margin: 0 230px 0 230px;
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}

.how_all_begining_title {
    width: 203px;
    height: 24px;
    margin: 30px 0 20px 230px;
    color: #111111;
    font-size: 20px;
    line-height: 24px;
}

.how_all_begining_info {
    width: 940px;
    height: 280px;
    margin: 0 230px 0 230px;
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}

.our_revenue_title {
    width: 145px;
    height: 24px;
    margin: 30px 0 20px 230px;
    font-size: 20px;
    color: #111111;
    line-height: 24px;
}

.our_revenue_info {
    width: 940px;
    height: 112px;
    margin: 0 230px 50px 230px;
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}